@media screen and (max-width: 1563px) {
    .input-grafico{
        flex-direction: column;
    }
    .inputs-1{
        justify-content: space-between;
    }
    .grafico{
        margin: auto;
    }
    .resultado{
        max-width: 2000px;
        min-width: 400px;
    }
}

@media screen and (max-width: 880px){
    .inputs-2{
        flex-wrap: wrap;
    }

    .inputs{
        gap: 3vh;
    }
    .item-inputs-2{
        flex: none;
    }
}

@media screen and (max-width: 805px){
    .inputs-3{
        flex-direction: column;
    }
    .inputs-1{
        flex-direction: column;
    }
}

@media screen and (max-width: 500px){
    h1{
        text-align: center;
        font-size: 25px;
    }
    .inputs-3-item label{
        font-size: 14px;
    }
    .selic-label{
        font-size: 12.5px;
        margin-bottom: 8px;
    }
}

