@charset "UTF-8";
header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4FA153;
  width: 100%;
  height: 10vh;
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  font-size: 100%;
}

.input-grafico {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1.5em;
}

.inputs {
  padding: 1.5vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5vh;
  width: 100%;
  box-sizing: border-box;
}

.input-item {
  flex: 1 1 45%;
  min-width: 200px;
  display: flex;
  flex-direction: column;
}

.input-item label {
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.inputs-1 {
  display: flex;
  flex-direction: row;
  gap: 1.5vh;
  width: 100%;
}

#aplicação {
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: 40px;
  box-sizing: border-box;
}

.inputs-2 {
  display: flex;
  flex-direction: row;
  gap: 1.5vh;
  width: 100%;
}

.item-input-2 {
  flex: 1 1 48%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.input-item input,
.input-item select {
  padding: 0.5rem;
  font-size: 1rem;
  border: 2px solid #000;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

.inputs-2 input {
  width: 100%;
  height: 40px;
  font-size: 1rem;
  padding: 8px;
  border: 2px solid;
  box-sizing: border-box;
}

.inputs-1 input {
  width: 100%;
  height: 40px;
  font-size: 1rem;
  padding: 8px;
  border: 2px solid;
  box-sizing: border-box;
}

.inputs-3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.8vh;
}

.inputs-3-item {
  flex: 1 1 48%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.inputs-3-item input {
  width: 100%;
  height: 40px;
  font-size: 1rem;
  padding: 8px;
  border: 2px solid;
  box-sizing: border-box;
}

#CDB-item {
  display: flex;
  flex-direction: column;
}

.grafico {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5vh;
}

.resultado {
  background-color: rgb(248, 248, 248);
  padding: 20px;
  width: 100%;
  max-width: 400px;
  height: 300px;
}

@media screen and (max-width: 1563px) {
  .input-grafico {
    flex-direction: column;
  }
  .inputs-1 {
    justify-content: space-between;
  }
  .grafico {
    margin: auto;
  }
  .resultado {
    max-width: 2000px;
    min-width: 400px;
  }
}
@media screen and (max-width: 880px) {
  .inputs-2 {
    flex-wrap: wrap;
  }
  .inputs {
    gap: 3vh;
  }
  .item-inputs-2 {
    flex: none;
  }
}
@media screen and (max-width: 805px) {
  .inputs-3 {
    flex-direction: column;
  }
  .inputs-1 {
    flex-direction: column;
  }
}
@media screen and (max-width: 500px) {
  h1 {
    text-align: center;
    font-size: 25px;
  }
  .inputs-3-item label {
    font-size: 14px;
  }
  .selic-label {
    font-size: 12.5px;
    margin-bottom: 8px;
  }
}
html, body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  overflow-x: hidden;
  margin: auto;
  max-width: 100vw;
}

main {
  padding-top: 8vh;
}

.container {
  width: 90vw;
  max-width: 85%;
  display: flex;
  flex-direction: column;
  border: 1px solid #e9e9e9;
  margin: auto;
  border-radius: 6px;
  padding: 30px;
}

.texto {
  font-weight: bold;
  font-size: 3vh;
  padding-left: 1.5vh;
  padding-right: 1.5vh;
}

.data-selic, .data-cdi, .data-ipca, .data-tr, .data-poupanca, .data-tesouroIpca {
  color: #4FA153;
}

.data-selic:hover, .data-cdi:hover, .data-ipca:hover, .data-tr:hover, .data-poupanca:hover, .data-tesouroIpca:hover {
  color: #0056b3;
  text-decoration: underline;
}/*# sourceMappingURL=style.css.map */